   <!--- Sidemenu -->
<div id="sidebar-menu">
    <ul>


        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
        </li>

        <li>
            <a asp-controller="Seller" asp-action="SellerRequests" asp-area="Admin" class="waves-effect"><i class="zmdi zmdi-store"></i> <span> در خواست های فروشندگی </span> </a>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-account"></i> <span> مدیریت کاربران </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a asp-controller="UserManagement" asp-action="Index" asp-area="Admin">لیست کاربران</a></li>
                <li><a asp-controller="UserManagement" asp-action="CreateUser" asp-area="Admin">ایجاد کاربر جدید</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="ti-hand-point-left"></i><span> مدیریت نقش ها </span><span class="menu-arrow"></span> </a>
            <ul class="list-unstyled">
                <li><a asp-controller="Role" asp-action="FilterRole" asp-area="Admin">لیست نقش های موجود</a></li>
                <li><a asp-controller="Role" asp-action="CreateRole" asp-area="Admin">ایجاد نقش جدید</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> برند ها </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a asp-controller="Brand" asp-area="Admin" asp-action="BrandList">لیست برند ها</a></li>
                <li><a asp-controller="Brand" asp-area="Admin" asp-action="CreateBrand">ایجاد برند جدید</a></li>
            </ul>
        </li>
        <li>
            <a asp-controller="Product" asp-action="ProductCategory" asp-area="Admin"><i class="zmdi zmdi-menu"></i><span> مدیریت دسته بندی ها </span></a>
        </li>

        <li>
            <a asp-controller="Product" asp-action="Index" asp-area="Admin"><i class="zmdi zmdi-shopping-basket"></i><span> محصولات </span></a>
        </li>
       
        <li>
            <a asp-controller="Ticket" asp-action="filterTicket" asp-area="Admin"><i class="ti-ticket"></i><span> تیکت ها </span></a>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-settings "></i> <span> تنظیمات سایت </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a asp-controller="SiteSetting" asp-area="Admin" asp-action="SiteInformation">اطلاعات سایت</a></li>
                <li><a asp-controller="SiteSetting" asp-area="Admin" asp-action="EditSiteSetting">ویرایش اطلاعات سایت</a></li>
                <li><a asp-controller="SiteSetting" asp-area="Admin" asp-action="ListSlider">اسلایدر صفحه</a></li>
                <li><a asp-controller="SiteSetting" asp-area="Admin" asp-action="CreateSlider">ایجاد اسلایدر</a></li>


            </ul>
        </li>
        <li>
            <a asp-controller="ContactUs" asp-action="Index" asp-area="Admin"><i class="fa fa-phone"></i><span> لبست تماس ها </span></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Sidebar -->