   <!--- Sidemenu -->
<div id="sidebar-menu">
    <ul>
       

        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
        </li>

        <li>
            <a asp-controller="Seller" asp-action="SellerRequests" asp-area="Admin"class="waves-effect"><i class="zmdi zmdi-store"></i> <span> در خواست های فروشندگی </span> </a>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-account"></i> <span> مدیریت کاربران </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a asp-controller="UserManagement" asp-action="Index" asp-area="Admin">لیست کاربران</a></li>
                <li><a asp-controller="UserManagement" asp-action="CreateUser" asp-area="Admin">ایجاد کاربر جدید</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="ti-hand-point-left"></i><span> مدیریت نقش ها </span><span class="menu-arrow"></span> </a>
            <ul class="list-unstyled">
                <li><a asp-controller="Role" asp-action="FilterRole" asp-area="Admin">لیست نقش های موجود</a></li>
                <li><a asp-controller="Role" asp-action="CreateRole" asp-area="Admin">ایجاد نقش جدید</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> برند ها </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a asp-controller="Brand" asp-area="Admin" asp-action="BrandList">لیست برند ها</a></li>
                <li><a asp-controller="Brand" asp-area="Admin" asp-action="CreateBrand">ایجاد برند جدید</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect "><i class="zmdi zmdi-chart"></i><span> چارت ها </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a href="chart-flot.html">چارت شماره 1</a></li>
                <li><a href="chart-morris.html">چارت شماره 2</a></li>
                <li><a href="chart-chartist.html">چارت شماره 3</a></li>
                <li><a href="chart-chartjs.html">چارت شماره 4</a></li>
                <li><a href="chart-other.html">چارت شماره 5</a></li>
            </ul>
        </li>

        <li>
            <a asp-controller="Product" asp-action="Index" asp-area="Admin"><i class="zmdi zmdi-shopping-basket"></i><span> محصولات </span></a>
        </li>

        <li>
            <a href="inbox.html" class="waves-effect"><i class="zmdi zmdi-email"></i><span class="label label-purple pull-right">جدید</span><span> ایمیل </span></a>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-item"></i><span> برگه ها </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a href="page-starter.html">برگه خالی</a></li>
                <li><a href="page-login.html">ورود</a></li>
                <li><a href="page-register.html">ثبت نام</a></li>
                <li><a href="page-recoverpw.html">فراموشی رمز</a></li>
                <li><a href="page-lock-screen.html">قفل صفحه</a></li>
                <li><a href="page-confirm-mail.html">تنظیمات ایمیل</a></li>
                <li><a href="page-404.html">خطای 404</a></li>
                <li><a href="page-500.html">خطای 500</a></li>
            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect "><i class="zmdi zmdi-layers"></i><span>دیگر صفحات </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a href="extras-projects.html">پروژ ه ها</a></li>
                <li><a href="extras-tour.html">تور آزمایشی</a></li>
                <li><a href="extras-taskboard.html">مدیرها</a></li>
                <li><a href="extras-taskdetail.html">جزئیات</a></li>
                <li><a href="extras-profile.html">پروفایل </a></li>
                <li><a href="extras-maps.html">نقشه</a></li>
                <li><a href="extras-contact.html">لیست تماس</a></li>
                <li><a href="extras-pricing.html">فروش</a></li>
                <li><a href="extras-timeline.html">خط زمان</a></li>
                <li><a href="extras-invoice.html">صورت حساب</a></li>
                <li><a href="extras-faq.html">سوال و جواب</a></li>
                <li><a href="extras-gallery.html">گالری</a></li>
                <li><a href="extras-email-template.html">تم های ایمیل</a></li>
                <li><a href="extras-maintenance.html">تعمیرات</a></li>
                <li><a href="extras-comingsoon.html">به زودی</a></li>
            </ul>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>
<!-- Sidebar -->