@using DigiStore.Application.Utils

@{
    ViewData["Title"] = "پنل ادمین";
    Layout = "_AdminLayout";
}




@await Component.InvokeAsync("ReportHeaderAdmin")
<!-- end row -->



@await Component.InvokeAsync("ProductReport")

<!-- end row -->


<div class="row">
    @await Component.InvokeAsync("LastUserRegister")

    @await Component.InvokeAsync("ProductsUnderProgress")


</div>
<!-- end row -->



<footer class="footer">
    @DateTime.Now.ToStringShamsiDate()
</footer>


