@model DigiStore.Domain.ViewModels.Product.EditOrDeleteProductGalleryViewModel
<form asp-controller="Product" id="remove-gallery-@Model.GalleryId" asp-action="DeleteProductGallery" asp-area="Seller" method="post">
    <input type="hidden" asp-for="GalleryId" />
    <input type="hidden" asp-for="ProductId" />
    <button type="button" onclick="RemoveGallery(@Model.GalleryId)" class="btn btn-danger m-4">حذف تصویر</button>
</form>