@model DigiStore.Domain.ViewModels.Product.EditOrDeleteProductGalleryViewModel
<form id="restore-gallery-@Model.GalleryId" asp-controller="Product" asp-action="RestoreProductGallery" asp-area="Seller" method="post">
    <input type="hidden" asp-for="GalleryId" />
    <input type="hidden" asp-for="ProductId" />
    <button type="button" onclick="RestorGallery(@Model.GalleryId)" class="btn btn-warning btn-sm m-4">بازگردانی تصویر</button>
</form>