@model DigiStore.Domain.ViewModels.Product.EditOrDeleteProductGalleryViewModel
<form asp-controller="Product" asp-action="RestoreProductGallery" asp-area="Seller" method="post">
    <input type="hidden" asp-for="GalleryId" />
    <input type="hidden" asp-for="ProductId" />
    <button type="submit" class="btn btn-warning m-4">بازگردانی تصویر</button>
</form>