@using DigiStore.Domain.Entities
@model DigiStore.Domain.ViewModels.Address.AddAddressViewModel
@{
    var state = ViewBag.State as List<State>;
}


<form method="post" asp-action="AddAddressForOrder" asp-controller="Address" asp-area="UserPanel" class="form-checkout">
    <div class="form-checkout-headline">افزودن آدرس جدید</div>
    <div class="form-checkout-row">
        <div class="form-checkout ">
            <label for="province">
                استان <span class="required-star"
                            style="color:red;"></span>
            </label>

            <select id="StateId" asp-for="StateId">
                <option>لطفا استان خود را وارد نمایید</option>
                @if (state != null && state.Any())
                {
                    @foreach (var states in state)
                    {
                        <option value="@states.StateId">@states.StateName</option>
                    }
                }
            </select>
            <span asp-validation-for="StateId" class="text-danger"></span>
            <label>
                شهر <span class="required-star"
                          style="color:red;"></span>
            </label>
            <select asp-for="CityId"></select>
            <span asp-validation-for="CityId" class="text-danger"></span>

        </div>
        <div class="form-checkout-valid-row">
            <label for="city">
                کد پستی
                <span class="required-star" style="color:red;">*</span>
            </label>
            <input type="text" asp-for="PostalCode" class="input-name-checkout" placeholder="ده رقمی" style="text-align: right;">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-checkout-valid-row">
            <label for="city">
                پلاک
                <span class="required-star" style="color:red;">*</span>
            </label>
            <input type="text" asp-for="Zipcode" class="input-name-checkout" style="text-align:right;">
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>
        <div class="form-checkout-valid-row">
            <label for="city">
                واحد
            </label>
            <input type="text" asp-for="Unit" class="input-name-checkout" style="text-align:right;">
            <span asp-validation-for="Unit" class="text-danger"></span>
        </div>
        <label for="address">
            آدرس
            <span class="required-star" style="color:red;">*</span>
        </label>
        <input type="text" id="address" asp-for="Address" class="input-name-checkout"
               placeholder="آدرس خود را وارد نمایید" style="height:80px;">
        <span asp-validation-for="Address" class="text-danger"></span>

        <div class="form-checkout-valid-row">
            <div class="parent-btn">
                <button type="submit" class="dk-btn dk-btn-info">
                    ثبت آدرس
                    <i class="fa fa-check sign-in"></i>
                </button>
            </div>
        </div>

        <a href="#" class="cancel-edit-address"
           onclick="closemodal()">انصراف و بازگشت</a>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />
<script src="/js/ir-city-select.min.js"></script>
<script>

    $("#StateId").change(function () {


        $("#CityId").empty();
        $.getJSON("/Address/GetCity/" + $("#StateId :selected").val(),
            function(data) {
                console.log(data);
                $.each(data,
                    function() {
                        $("#CityId").append('<option value=' + this.cityId + '>' + this.cityName + '</option>');

                    });

            });
    });
</script>