@model DigiStore.Domain.ViewModels.User.DeleteAndRestoreUserViewModel
<form method="post" id="deleteuser-@Model.UserId" asp-controller="UserManagement" asp-action="DeleteUser" asp-area="Admin">
    <input type="hidden" asp-for="@Model.UserId" />
    <button type="button" onclick="RemoveUser(@Model.UserId)" class="btn btn-sm btn-danger">حذف کاربر</button>
</form>