@using DigiStore.Application.Extensions
@model DigiStore.Domain.ViewModels.Account.InformationUserForSidebarViewModel
<div class="header-profile-dropdown-account">
    <div class="header-profile-dropdown-user">
        <div class="header-profile-dropdown-user-img">
            <img src="@(!string.IsNullOrEmpty(Model.UserAvatar) ?PathExtension.UserAvatarThumb + Model.UserAvatar : PathExtension.DefaultAvatar)" class="rounded-circle" alt="profile">
        </div>
        <div class="header-profile-dropdown-user-info">
            <p class="header-profile-dropdown-user-name">
                @User.Identity.Name
                <a asp-action="Dashboard" asp-controller="Home" asp-area="UserPanel">
                    <span class="header-profile-dropdown-user-profile-link">
                        مشاهده حساب
                        کاربری
                    </span>
                </a>
            </p>
        </div>
      
    </div>
</div>