@model DigiStore.Domain.ViewModels.Seller.RejectItemViewModel
<div class="form-group">
    <input type="hidden" asp-for="SellerId"/>
    <textarea asp-for="RejectMessage" class="form-control" rows="10"></textarea>
    <span asp-validation-for="RejectMessage" class="text-danger"></span>
</div>