@model DigiStore.Domain.ViewModels.Slider.CreateSliderViewModel
@{
    ViewData["Title"] = "ایجاد اسلایدر جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
    <link href="/Admin/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
}


<div class="content">
    <div class="container">
        <h2>افزودن برند</h2>
        <hr />
        <div class="row">
            <form method="post" asp-action="CreateSlider" asp-controller="SiteSetting" asp-area="Admin" enctype="multipart/form-data">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            اطلاعات اسلایدر
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="form-group">
                                <label>اولویت</label>
                                <input type="number" asp-for="ImagepDisplayPrority" class="form-control">
                            </div>
                            <span asp-validation-for="ImagepDisplayPrority"></span>
                            <div class="form-group">
                                <label>لینک مقصد</label>
                                <input asp-for="Link" class="form-control">
                            </div>
                            <span asp-validation-for="Link"></span>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" asp-for="IsActive" />
                                    فعال / غیر فعال
                                </label>
                            </div>
                            <span asp-validation-for="IsActive"></span>
                            <input type="submit" value="ثبت اطلاعات" class="btn btn-success" />
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box">

                        <h4 class="header-title m-t-0 m-b-30">تصوير </h4>

                        <div class="dropify-wrapper has-preview">

                            <div class="dropify-message">
                                <span class="file-icon"></span>
                                <p>فایل را به اینجا بکشید یا کلیک کنید</p>
                                <p class="dropify-error">با پوزش فراوان، خطایی رخ داده</p>
                            </div>
                            <div class="dropify-loader" style="display: none;"></div>
                            <div class="dropify-errors-container"><ul></ul></div>
                            <input type="file" id="imgInp" name="sliderImage" class="dropify">
                            <button type="button" class="dropify-clear">پاک کردن</button>
                            <div class="dropify-preview" style="display: block;">
                                <span class="dropify-render"><img id="Slider" src="/Images/defaults/logo.png"></span>
                                <div class="dropify-infos">
                                    <div class="dropify-infos-inner">

                                        <p class="dropify-infos-message">برای جایگزینی فایل را به اینجا بکشید یا کلیک کنید</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- container -->

</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                Slider.src = URL.createObjectURL(file)
            }
        }
    </script>
}



