@model DigiStore.Domain.ViewModels.Contacts.CreateContactUsViewModel
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="profile-navbar">
            <div class="profile-navbar-back-alignment">

                <h4 class="edit-personal">
                    @ViewData["Title"]

                </h4>
            </div>
        </div>
        <div class="profile-stats">
            <form asp-controller="Home" asp-area="" asp-action="ContactUs" method="post">
                <div class="form-legal-row">
                    <div class="col-lg-6 col-xs-12 mx-auto">
                        <div class="form-legal-col">
                            <fieldset class="form-legal-fieldset">

                                <h4 class="form-legal-headline">  @ViewData["Title"]</h4>
                                <div class="form-legal-item">
                                    <label for="name-first">نام  و نام خانوادگی</label>
                                    <input type="text" asp-for="FullName" id="name-first" class="input-name-first" placeholder="نام  و نام خانوادگی خود را وارد کنید">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>


                                <div class="form-legal-item">
                                    <label for="email">آدرس ایمیل</label>
                                    <input type="email" asp-for="Email" id="email" class="input-code-national" placeholder="آدرس ایمیل خود را وارد کنید">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="form-legal-item">
                                    <label for="email">موضوع</label>
                                    <input type="text" asp-for="Subject" id="email" class="input-code-national" placeholder="موضوع  را وارد کنید">
                                    <span asp-validation-for="Subject" class="text-danger"></span>

                                </div>
                                <div class="form-legal-item">
                                    <label for="email">پیام</label>
                                    <textarea rows="10" cols="113" asp-for="Text" placeholder="پیام خود را وارد کنید"></textarea>
                                    <span asp-validation-for="Text" class="text-danger"></span>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="form-legal-row-submit">
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            ثبت اطلاعات
                            <i class="fa fa-check sign-in"></i>
                        </button>
                    </div>
                    <a href="/" class="btn-default">انصراف</a>
                </div>
            </form>
        </div>
    </div>
</div>

