@model DigiStore.Application.ViewModels.Account.ResetPsssWordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />
}
<div class="account-box">
    <a href="/" class="logo-account"><img src="/assets/images/logo-login.png" alt="logo"></a>
    <span class="account-head-line">یاد آوری کلمه عبور</span>
    <div class="content-account pb-5">
        <form asp-action="ResetPassword" asp-controller="Account" id="password-forget">
            <partial name="_CaptchaInput" />
            <input type="hidden" asp-for="ActiveCode" />
            <label for="email-phone"> کلمه عبور جدید را وارد کنید</label>
            <input type="password" id="email-phone" asp-for="Password" class="input-email-account" placeholder=" کلمه عبور جدید را وارد کنید">
            <span asp-validation-for="Password"></span>
            <label for="email-phone"> تکرار کلمه عبور جدید را وارد کنید</label>
            <input type="password" id="email-phone" asp-for="ConferimPassWord" class="input-email-account" placeholder=" تکرار کلمه عبور جدید را وارد کنید">
            <span asp-validation-for="ConferimPassWord"></span>
            <div class="parent-btn">
                <button type="submit" class="dk-btn dk-btn-info">
                    بازیابی کلمه عبور
                    <i class="mdi mdi-lock sign-in"></i>
                </button>
            </div>
        </form>
    </div>
</div>

