@model DigiStore.Domain.ViewModels.Ticket.DeleteTicketViewModel
<form method="post" id="deleteticketform-@Model.TicketMessageId" asp-action="DeleteTicketMessage"  asp-controller="Ticket" asp-area="UserPanel">
    <input type="hidden" asp-for="TicketId" />
    <input type="hidden" asp-for="TicketMessageId" />
    <button type="button" onclick="RemoveTicketMessage(@Model.TicketMessageId)"  class="btn btn-danger">حذف</button>
</form>