@model DigiStore.Domain.ViewModels.Ticket.DeleteTicketViewModel
<form asp-action="DeleteTicketMessage" asp-controller="Ticket" asp-area="UserPanel">
    <input type="hidden" asp-for="TicketId" />
    <input type="hidden" asp-for="TicketMessageId" />
    <button type="submit" class="btn btn-danger">حذف</button>
</form>