@model DigiStore.Domain.ViewModels.Category.CreateCategoryViewModel
<h1>ایجاد دسته جدید</h1>
<form method="post" asp-controller="Product" asp-area="Admin" asp-action="CreateCategory">
    <div class="form-group">
        <label>عنوان دسته</label>
        <input asp-for="CategoryTitle" class="form-control">
    </div>
    <span asp-validation-for="CategoryTitle" class="text text-danger"></span>

    <div class="form-group">
        <label>آیکون دسته بندی  نمونه (mdi mdi-wrench)</label>
        <input asp-for="CategoryIcon" class="form-control">
    </div>
    <span asp-validation-for="CategoryIcon" class="text text-danger"></span>
    <br/>
    <button type="submit" class="btn btn-danger">ایجاد دسته جدید</button>

</form>




<partial name="_ValidationScriptsPartial" />