@using DigiStore.Application.Extensions
@{
    var hasUserAnyActiveSellerPanel = (bool) ViewBag.hasUserAnyActiveSellerPanel;
}
@model DigiStore.Domain.ViewModels.Account.InformationUserForSidebarViewModel
<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box" style="border: none;">
                <img src="/assets/images/profile/1.jpg" class="profile-box-img-banner" alt="profile">
            </div>
        </div>

        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="@(!string.IsNullOrEmpty(Model.UserAvatar) ?PathExtension.UserAvatarThumb + Model.UserAvatar : PathExtension.DefaultAvatar)" class="rounded-circle" alt="profile">
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">@User.Identity.Name</span>
                    <span class="profile-box-phone">@Model.Mobile</span>
                </div>


            </div>
            <ul class="profile-menu-items">
                <li><a asp-action="Dashboard" asp-controller="Home" asp-area="UserPanel" class="profile-menu-url active-profile"><span class="mdi mdi-account-outline"></span>پروفایل</a></li>
                @if (hasUserAnyActiveSellerPanel)
                {
                    <li><a  asp-controller="Home" asp-action="Index" asp-area="Seller" class="profile-menu-url bg-info"><span class="mdi mdi-shopping"></span>پنل فروشندگی شما</a></li>
                }
                <li><a asp-action="EditProfile" asp-controller="Account" asp-area="UserPanel" class="profile-menu-url "><span class="fa fa-id-card-o"></span>ویرایش حساب کاربری</a></li>
                <li>
                    <a asp-controller="Order" asp-action="FilterOrder" asp-area="UserPanel" class="profile-menu-url">
                        <span class="mdi mdi-basket"></span>همه
                        سفارش ها
                    </a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="GetProductFavoritUser" asp-area="UserPanel" class="profile-menu-url">
                        <span class="mdi mdi-heart-outline"></span>لیست
                        علاقه مندی ها
                    </a>
                </li>
                <li><a asp-controller="Product" asp-action="UserProductPComments" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-comment-multiple-outline"></span>نقد و نظرات</a></li>
                <li>
                    <a asp-controller="Address" asp-action="ListAddress" asp-area="UserPanel" class="profile-menu-url">
                        <span class="mdi mdi-map-marker-outline"></span>آدرس
                        ها
                    </a>
                </li>
                <li>
                    <a asp-action="LastProductVisited" asp-controller="Product" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-history"></span>بازدید های اخیر</a>
                </li>
                <li><a asp-controller="Seller" asp-action="RequestSellerPanel" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-shopping"></span>در خواست پنل فروشندگی</a></li>
                <li><a asp-controller="Seller" asp-action="SellerRequests" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-shopping"></span>در خواست های پنل فروشندگی</a></li>
                <li><a asp-action="ChangePassWord" asp-controller="Account" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-lock-plus"></span>تغییر کلمه عبور</a></li>
                <li><a asp-action="ProfilePersonalInfo" asp-controller="Account" asp-area="UserPanel" class="profile-menu-url"><span class="mdi mdi-account-circle"></span>اطلاعات شخصی</a></li>
                <li><a asp-action="Logout" asp-controller="Account" class="profile-menu-url"><span class="mdi mdi-power"></span>خروج</a></li>
            </ul>
        </div>

    </div>
</div>

